@page "/Prepods/Index"
@using BlazorApp2.Models
@inject BlazorApp2Context context
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

<h1 class="t">Список Преподавателей</h1>
<br />

else
{
<NavLink class="nav-link" href="/Prepods/Create">
    <span class="oi oi-plus" aria-hidden="true"></span> Добавить преподавателя
</NavLink>
<br>
<table class='table'>
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Куратор Группы</th>
            <th>Профессия</th>
            <th>День Рождения</th>
            <th>Номер Кабинета</th>
            <th>Зарплата</th>
            <th>Стаж</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prepod in prepods)
        {
            <tr>
                <td>@prepod.Фамилия</td>
                <td>@prepod.Имя</td>
                <td>@prepod.Отчество</td>
                <td>@prepod.КураторГруппы</td>
                <td>@prepod.Профессия</td>
                <td>@prepod.ДеньРождения.Date.ToString("d")</td>
                <td>@prepod.НомерКабинета</td>
                <td>@prepod.Зарплата</td>
                <td>@prepod.Стаж</td>
                <td>
                    <NavLink href="@($"Prepods/Edit/{prepod.id}")">Изменить</NavLink> |
                    <NavLink href="@($"Prepods/Delete/{prepod.id}")">Удалить</NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    private List<Prepod>? prepods;

    protected override async Task OnInitializedAsync()
    {
        prepods = await _context.Prepod.ToListAsync();
    }
}